{% extends "main.html" %}
{% block content %}

<h3>Stock List</h3>

<div class='flash'>
{% with messages = get_flashed_messages() %} 
    {% if messages %} 
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
        {{message}}
      </div>
      {% endfor %} 
    {% endif %} 
  {% endwith %}
</div>

{% for stock in stocks %}
<article class="stock content-section">
    <div class="stock-body">
        <div class="article-metadata">
            <a class="mr-3">
                <span style="float:left" href="#"><b>{{ stock.companyName }} ({{ stock.ticker }}: {{ stock.exchange }})</b></span>
                <span style="float:right"><small>{{ stock.account.accountType }}</small></span>
            </a>
        </div>
        <p class="article-content" style="text-align:left"><small>{{ stock.description }}</small></p>
        <div class="db-buttons">
			      <span style="float: right">
	            <a href="{{url_for('editStock', account_id = account.id, stock_ticker = stock.ticker )}}">
            	<button type="button" class="btn btn-primary btn-sm">Update</button></a>
              <a href="{{url_for('deleteStock', account_id = account.id, stock_ticker = stock.ticker )}}">
              <button type="submit" class="btn btn-danger btn-sm" id="submit" type="submit">Delete</button></a>
            </span>
        </div>
    </div>
</article>

{% endfor %}

<div class="db-buttons">
	<a href="{{url_for('newStock', account_id = account.id )}}">
    <button class="btn btn-default btn-sm" id="new-stock">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Stock
    </button>
	</a>
</div>

{% endblock %}