{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner-accounts">
	<div class="col-md-12">
		<h1>Accounts</h1>
	</div>
</div>

<!-- <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div> -->


{% for account in accounts %}
	<a href = "{{url_for('showOneAccount', account_id = account.id)}}">
		<div class="col-md-4 account-box">
			<p>{{account.accountType}}<p>
		</div>
{% endfor %}

{% endblock %}
