{% extends "main.html" %}
{% block content %}

<h3>Create Stock</h3>

<div class='flash'>
{% with messages = get_flashed_messages() %} 
    {% if messages %} 
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
        {{message}}
      </div>
      {% endfor %} 
    {% endif %} 
  {% endwith %}
</div>

<article class="stock content-section">
	<div class="stock-body">
		<form action="#" method = "post">
			<div class="form-area">
				<input type ="text" maxlength="50" class="form-control" name="companyName" placeholder="Company Name">

				<input type ="text" maxlength="8" class="form-control" name="ticker" placeholder="Stock ticker">

				<input type ="text" maxlength="8" class="form-control" name="exchange" placeholder="Stock exchange">
			
				<input type ="text" maxlength="30" class="form-control" name="industry" placeholder="Industry">

				<textarea class="form-control" maxlength="500" rows="4" name="description" placeholder="Company description"></textarea>

				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
			</div>
		</form>
	</div>
</article>

{% endblock %}