<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="row banner-accounts">
				<div class="col-md-12">
					<div class="header">
					<h1>Account Summary</h1>
					</div>
				</div>
			</div>
			<div class="row"> <!--ROW-->
				<div class="col-md-4"> <!--COLUMN FOR ACCOUNTS-->
					<div class="content-area" align="center"> <!--FOR STYLING PURPOSES-->
						<h3>Account List</h3>
						<ul class="account-group">
							{% for account in accounts %}
							<li class="account-item d-flex justify-content-between align-items-center">
								<a href = "{{url_for('showOneAccount', account_id = account.id)}}">{{ account.accountType }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-md-8"> <!--COLUMN FOR CONTENT-->
					<div class="content-area" align="center">
					{% block content %}
					{% endblock %}
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>