<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row banner-accounts">
				<div class="col-md-6 text-left">
					<div class="header-left">
						<a href="{{url_for('showAccounts')}}">
						<h1>Account Summary</h1>
						</a>
                        {% if 'username' in session %}
						<p><small>Logged in as {{session.email}}</small></p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 login-header">
					<div class="header-right">
						{% if 'email' not in session %}
							<a href="{{url_for('showLogin')}}">Click Here to Login </a>
						{% else %}
							<a href="{{url_for('gdisconnect')}}">Logout </a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row"> <!--ROW-->
				<div class="col-md-4"> <!--COLUMN FOR ACCOUNTS-->
					<div class="content-area" align="center"> <!--FOR STYLING PURPOSES-->
						<h3>Account List</h3>
						<ul class="account-group">
							{% for account in accounts %}
							<li class="account-item d-flex justify-content-between align-items-center">
								<a href = "{{url_for('showOneAccount', account_id = account.id)}}">{{ account.accountType }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-md-8"> <!--COLUMN FOR EXTENDED CONTENT-->
					<div class="content-area" align="center">
					{% block content %}
					{% endblock %}
					</div>
				</div>	
			</div>
		</div>
	  	<!--JS-->
	  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>